body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none; /* 대부분의 브라우저에서 작동 */
  -webkit-user-select: none; /* 크롬, 사파리 */
  -moz-user-select: none; /* 파이어폭스 */
  -ms-user-select: none; /* 인터넷 익스플로러/엣지 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* img {
  pointer-events: none;
} */