* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
}

#top-bar-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #aaaaff;
}

#side-menu-area {
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;    
    height: calc(100vh - 50px);
    background-color: #ffaaaa;
}

#main-area {    
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#main-area > div {
    margin-top: 50px;
    margin-left: 250px;
}